<li id="book-<%= book.id %>">
  <span class="book_title"><%= book.title %></span>
  <%= image_tag(book.thumbnail_url, alt: 'no_thumb.jpg', class: "bookthumb") %>
  <span class="book_author"><%= book.author %></span>
  <span class="timestamp">
    Added <%= time_ago_in_words(book.created_at) %> ago.
  </span>
</li>